<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ticket-heading" data-cy="TicketCreateUpdateHeading" jhiTranslate="gatewayApp.ticket.home.createOrEditLabel">
        Create or edit a Ticket
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.ticketCode" for="field_ticketCode">Ticket Code</label>
          <input
            type="text"
            class="form-control"
            name="ticketCode"
            id="field_ticketCode"
            data-cy="ticketCode"
            formControlName="ticketCode"
          />
          <div *ngIf="editForm.get('ticketCode')!.invalid && (editForm.get('ticketCode')!.dirty || editForm.get('ticketCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ticketCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ticketCode')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Ticket Code' }"
            >
              This field should follow pattern for Ticket Code.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.issuedAt" for="field_issuedAt">Issued At</label>
          <div class="d-flex">
            <input
              id="field_issuedAt"
              data-cy="issuedAt"
              type="datetime-local"
              class="form-control"
              name="issuedAt"
              formControlName="issuedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('issuedAt')!.invalid && (editForm.get('issuedAt')!.dirty || editForm.get('issuedAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issuedAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('issuedAt')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.parkingSpotId" for="field_parkingSpotId">Parking Spot Id</label>
          <input
            type="text"
            class="form-control"
            name="parkingSpotId"
            id="field_parkingSpotId"
            data-cy="parkingSpotId"
            formControlName="parkingSpotId"
          />
          <div
            *ngIf="
              editForm.get('parkingSpotId')!.invalid && (editForm.get('parkingSpotId')!.dirty || editForm.get('parkingSpotId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('parkingSpotId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.entryTime" for="field_entryTime">Entry Time</label>
          <div class="d-flex">
            <input
              id="field_entryTime"
              data-cy="entryTime"
              type="datetime-local"
              class="form-control"
              name="entryTime"
              formControlName="entryTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('entryTime')!.invalid && (editForm.get('entryTime')!.dirty || editForm.get('entryTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('entryTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('entryTime')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.exitTime" for="field_exitTime">Exit Time</label>
          <div class="d-flex">
            <input
              id="field_exitTime"
              data-cy="exitTime"
              type="datetime-local"
              class="form-control"
              name="exitTime"
              formControlName="exitTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('exitTime')!.invalid && (editForm.get('exitTime')!.dirty || editForm.get('exitTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exitTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('exitTime')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TicketStatus.null' | translate }}</option>
            <option *ngFor="let ticketStatus of ticketStatusValues" [value]="ticketStatus">
              {{ 'gatewayApp.TicketStatus.' + ticketStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.ticket.parkingSpotId" for="field_parkingSpotId">Parking Spot Id</label>
          <select
            class="form-control"
            id="field_parkingSpotId"
            data-cy="parkingSpotId"
            name="parkingSpotId"
            formControlName="parkingSpotId"
            [compareWith]="compareParkingSpot"
          >
            <option *ngIf="!editForm.get('parkingSpotId')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="parkingSpotOption" *ngFor="let parkingSpotOption of parkingSpotsSharedCollection">
              {{ parkingSpotOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['parkingSpotId'])!.invalid && (editForm.get(['parkingSpotId'])!.dirty || editForm.get(['parkingSpotId'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['parkingSpotId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
