<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="gatewayApp.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.ticketCode">Ticket Code</span></dt>
        <dd>
          <span>{{ ticket.ticketCode }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.issuedAt">Issued At</span></dt>
        <dd>
          <span>{{ ticket.issuedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.entryTime">Entry Time</span></dt>
        <dd>
          <span>{{ ticket.entryTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.exitTime">Exit Time</span></dt>
        <dd>
          <span>{{ ticket.exitTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.TicketStatus.' + ticket.status }}">{{ ticket.status }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.ticket.parkingSpotId">Parking Spot Id</span></dt>
        <dd>
          <div *ngIf="ticket.parkingSpotId">
            <a [routerLink]="['/parking-spot', ticket.parkingSpotId.id, 'view']">{{ ticket.parkingSpotId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
