<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="barrier">
      <h2 data-cy="barrierDetailsHeading"><span jhiTranslate="gatewayApp.barrier.detail.title">Barrier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ barrier.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.barrier.name">Name</span></dt>
        <dd>
          <span>{{ barrier.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.barrier.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.BarrierType.' + barrier.type }}">{{ barrier.type }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.barrier.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.BarrierStatus.' + barrier.status }}">{{ barrier.status }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.barrier.parkingLot">Parking Lot</span></dt>
        <dd>
          <div *ngIf="barrier.parkingLot">
            <a [routerLink]="['/parking-lot', barrier.parkingLot.id, 'view']">{{ barrier.parkingLot.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/barrier', barrier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
