<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-parking-spot-heading"
        data-cy="ParkingSpotCreateUpdateHeading"
        jhiTranslate="gatewayApp.parkingSpot.home.createOrEditLabel"
      >
        Create or edit a Parking Spot
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.number" for="field_number">Number</label>
          <input type="number" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
          <div *ngIf="editForm.get('number')!.invalid && (editForm.get('number')!.dirty || editForm.get('number')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('number')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('number')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 13000 }"
            >
              This field cannot be more than 13000.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('number')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.ParkingSpotStatus.null' | translate }}</option>
            <option *ngFor="let parkingSpotStatus of parkingSpotStatusValues" [value]="parkingSpotStatus">
              {{ 'gatewayApp.ParkingSpotStatus.' + parkingSpotStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.spotType" for="field_spotType">Spot Type</label>
          <select class="form-control" name="spotType" formControlName="spotType" id="field_spotType" data-cy="spotType">
            <option [ngValue]="null">{{ 'gatewayApp.ParkingSpotType.null' | translate }}</option>
            <option *ngFor="let parkingSpotType of parkingSpotTypeValues" [value]="parkingSpotType">
              {{ 'gatewayApp.ParkingSpotType.' + parkingSpotType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('spotType')!.invalid && (editForm.get('spotType')!.dirty || editForm.get('spotType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('spotType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.spotVehicle" for="field_spotVehicle">Spot Vehicle</label>
          <select class="form-control" name="spotVehicle" formControlName="spotVehicle" id="field_spotVehicle" data-cy="spotVehicle">
            <option [ngValue]="null">{{ 'gatewayApp.ParkingSpotVehicle.null' | translate }}</option>
            <option *ngFor="let parkingSpotVehicle of parkingSpotVehicleValues" [value]="parkingSpotVehicle">
              {{ 'gatewayApp.ParkingSpotVehicle.' + parkingSpotVehicle | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('spotVehicle')!.invalid && (editForm.get('spotVehicle')!.dirty || editForm.get('spotVehicle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('spotVehicle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.parkingLotId" for="field_parkingLotId">Parking Lot Id</label>
          <select
            class="form-control"
            id="field_parkingLotId"
            data-cy="parkingLotId"
            name="parkingLotId"
            formControlName="parkingLotId"
            [compareWith]="compareParkingLot"
          >
            <option *ngIf="editForm.get(['parkingLotId'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="parkingLotOption" *ngFor="let parkingLotOption of parkingLotsSharedCollection">
              {{ parkingLotOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['parkingLotId'])!.invalid && (editForm.get(['parkingLotId'])!.dirty || editForm.get(['parkingLotId'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['parkingLotId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.parkingSpot.parkingLotId" for="field_parkingLotId">Parking Lot Id</label>
          <select
            class="form-control"
            id="field_parkingLotId"
            data-cy="parkingLotId"
            name="parkingLotId"
            formControlName="parkingLotId"
            [compareWith]="compareParkingLot"
          >
            <option *ngIf="editForm.get(['parkingLotId'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="parkingLotOption" *ngFor="let parkingLotOption of parkingLotsSharedCollection">
              {{ parkingLotOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['parkingLotId'])!.invalid && (editForm.get(['parkingLotId'])!.dirty || editForm.get(['parkingLotId'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['parkingLotId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
