<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="gatewayApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notification.reservationId">Reservation Id</span></dt>
        <dd>
          <span>{{ notification.reservationId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notification.message">Message</span></dt>
        <dd>
          <span>{{ notification.message }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notification.sentAt">Sent At</span></dt>
        <dd>
          <span>{{ notification.sentAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.notification.recipientId">Recipient Id</span></dt>
        <dd>
          <span>{{ notification.recipientId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
