<div>
  <h2 id="page-heading" data-cy="ReservationHeading">
    <span jhiTranslate="gatewayApp.reservation.home.title">Reservations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.reservation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reservation"
        [routerLink]="['/reservation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.reservation.home.createLabel"> Create a new Reservation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.reservation.home.search">Search for Reservation</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.reservation.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
    <span jhiTranslate="gatewayApp.reservation.home.notFound">No Reservations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reservations && reservations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.customerId">Customer Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parkingSpotId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.parkingSpotId">Parking Spot Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.status">Status</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reservationCode">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.reservationCode">Reservation Code</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.customerId">Customer Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerId.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.customerId">Customer Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notifications.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.reservation.notifications">Notifications</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
          </td>
          <td>{{ reservation.customerId }}</td>
          <td>{{ reservation.parkingSpotId }}</td>
          <td>{{ reservation.startTime | formatMediumDatetime }}</td>
          <td>{{ reservation.endTime | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'gatewayApp.ReservationStatus.' + reservation.status }}">{{ reservation.status }}</td>
          <td>{{ reservation.reservationCode }}</td>
          <td>
            <div *ngIf="reservation.customerId">
              <a [routerLink]="['/customer', reservation.customerId.id, 'view']">{{ reservation.customerId.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reservation.customerId">
              <a [routerLink]="['/customer', reservation.customerId.id, 'view']">{{ reservation.customerId.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reservation.notifications">
              <a [routerLink]="['/notification', reservation.notifications.id, 'view']">{{ reservation.notifications.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reservation', reservation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
